@{
    ViewData["Title"] = "Exercícios";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h2>Crossover (Peito)</h2>
    <h3>3 séries de 10 - 15 repetições</h3>
    <img width="350" height="300"
        src="https://blog.lionfitness.com.br/wp-content/uploads/2018/10/crossover-lion-fitness.jpg">
</div>

<div>
    <h2>LegPress (Perna)</h2>
    <h3>4 séries de 10 - 12 repetições</h3>
    <img width="350" height="300" src="https://www.hipertrofia.org/blog/wp-content/uploads/2018/09/leg-press.jpg">
</div>

<div>
<h2>Puxada alta (Costas)</h2>
    <h3>4 séries de 10 - 15 repetições</h3>
<img width="350" height="300" src="https://blog.lionfitness.com.br/wp-content/uploads/2018/11/Puxada-alta-descubra-como-conquistar-costas-definidas.jpg">

</div>

<div>
<h2>Rosca direta (Biceps)</h2>
    <h3>3 séries de 10 - 15 repetições</h3>
<img width="350" height="300" src="https://blog.lionfitness.com.br/wp-content/uploads/2018/11/rosca-scott-equipamentos-lion-fitness.jpg">

</div>

<div>
<h2>Elevação lateral (Ombros)</h2>
    <h3>3 séries de 10 - 12 repetições</h3>
<img width="350" height="300" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb9cHY6ptCjbJ5bsWPWRxo6jpdbLpC9jw9Fg&usqp=CAU">

</div>

<div>
<h2>Polia reta (Tríceps)</h2>
    <h3>4 séries de 10 - 15 repetições</h3>
<img width="350" height="300" src="https://st.depositphotos.com/2389277/3604/i/600/depositphotos_36042999-stock-photo-exercise-for-triceps-with-cable.jpg">

</div>











<style>
    body {

    background-color: whitesmoke;

    }
</style>

<style type="text/css">

h2{
    color: black;
}

h3{
    color: black;
}

</style>