@{
    ViewData["Title"] = "Fale Conosco";
}

<div class="text-center fundo-transparente box-shadow">
<table class="table">
    <thead class="text-black">

<tr>
<th>Fale Conosco</th>
</tr>
    </thead>

<tbody class="texte-black">

    <tr>
    <td>Telefone fixo: (51) 3017-6089</td>
    </tr>
<tr>                        </tr>
    <td>Whatsapp: (51) 99569-1157</td>
 </tr>
<tr>
    <td>E-mail: academiaarea51@gmail.com</td>
 </tr>
<tr>
    <td>Horários de atendimento: seg a sexta das 08:00h - 22:00h</td>
     </tr>

</tbody>
</table>
</div>

<div class="text-center">
    <p>Ou você pode vir até nós que estamos localizados em: General Câmara - RS, Rua visconde do rio branco, 101, bairro - centro.</p>
</div>




<style>
    body{
    background-color: whitesmoke;
}
</style>

<style type="text/css">


</style>