@{
    ViewData["Title"] = "Modalidades";
}
<h1>@ViewData["Title"]</h1>


<ul>
    <li>Musculação
        <ul>
            <li>R$ 100,00 </li>
        </ul>
    </li>
    <li>Jump
        <ul>
            <li>R$ 50,00</li>
        </ul>
    </li>

    <li>Zumba
        <ul>
            <li>R$ 50,00</li>
        </ul>
    </li>



</ul>



<style>

body{

background-image: url("https://img.elo7.com.br/product/main/3701233/cenario-em-tecido-academia-fundo.jpg");
background-size: cover;

}

</style>

<style type="text/css">

li{

    color: white;
    
}
    

</style>

<img width="350" height="300" src="https://2.bp.blogspot.com/-fxZM4ZWA_3I/VN57UOyvBmI/AAAAAAAAgSg/u-w2MK2_aMM/s1600/FABIO%2BGIANT%2BGIGA%2B-%2BO%2Bmais%2Bforte%2Bdo%2BBrasil%2B2.jpg">

<img width="350" height="300" src="https://blogeducacaofisica.com.br/wp-content/uploads/2018/07/7-motivos-para-os-seus-alunos-praticarem-jump.jpg">

<img width="350" height="300" src="https://s2.glbimg.com/PQZhdo5o8mGlAXxmF7xb3sfxOnhFpFKXRFSl_ZFwg-lIoz-HdGixxa_8qOZvMp3w/e.glbimg.com/og/ed/f/original/2013/07/15/zumba1.jpg">


