@{
    ViewData["Title"] = "Quem somos?";
}
<h1>@ViewData["Title"]</h1>

<p>Fundada em Junho de 2021 , a Àrea 51 Fitness, desde sua inauguração se preocupa em trazer a saúde e a boa forma aos seus alunos, que contam com todo o suporte de profissionais bem preparados, além de estrutura e aparelhagem completa para o desenvolvimento de diversas práticas esportivas que você pode conferir no menu modalidades.</p>

<h3>Nossa Missão</h3>
<p>Buscar a excelência em serviços, através de um ambiente agradável, oferecendo profissionais felizes, que proporcionam aos alunos bem-estar físico e mental.</p>

<h3>Visão</h3>
<p>Ser referência em diversidade de atividades físicas e capaz de superar as expectativas de nossos alunos, através de experiências fantásticas e com alto padrão de atendimento.</p>


<h3>Valores</h3>

<ul>
<li>Compromisso e ética na prestação de serviços;
</ul>

<ul>
<li>Excelência no atendimento;
</ul>

<ul>
<li>Oferecer preço justo pelo serviço prestado;
</ul>

<ul>
<li>Preocupação com a saúde, bem-estar e qualidade de vida de nossos alunos;
</ul>

<ul>
<li>Desenvolver estratégias para capacitação contínua dos nossos profissionais.
</ul>










